version: '3.1'

services:
  api:
    build: news-api
    restart: always
    container_name: news-api
    ports:
      - 9000:8080
    working_dir: /opt/app
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: newsapp-mongo
    #ports:
    #  - 27018:27017
    volumes:
      - ./data/newsapp-mongo-data:/data/db
      - ./data/newsapp-mongo-bkp:/data/bkp
    restart: always