.rating-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  float: right;
  font-size: x-small;
  color: gray;
  float: left;
  &:first-child {
    border-top: none;
  }

  
}